{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "settings": {
    "import/resolver": "webpack"
  },
  "plugins": [
    "filenames"
  ],
  "ecmaFeatures": {
    "destructuring": true,
    "restParams": true,
    "jsx": true,
    "experimentalObjectRestSpread": true
  },
  "rules": {
    "react/prefer-stateless-function": 0,
    "no-console": 0,
    "comma-dangle": 0,
    "no-multiple-empty-lines": [2, {"max": 2}],
    "no-unused-vars": [1, { "args": "after-used" }],
    "no-underscore-dangle": [0],
    "prefer-const": 0,
    "func-names": 1,
    "no-use-before-define": [2, "nofunc"],
    "arrow-body-style": 0,
    "jsx-closing-bracket-location": 0,
    "no-nested-ternary": 0,
    "filenames/match-regex": [2, "^([a-z][-]?)+[a-z]+$"],
    "react/prop-types": 0,
    "object-curly-spacing": [1, "always"],
    "prefer-template": 1,
    "spaced-comment": 0
  }
}
